.aboutPage {
    display: flex;
    gap: 2rem;
    margin: 2% 0%;

    h1 {
        font-size: 3rem;
        text-transform: uppercase;

        span {
            color: red;
        }
    }

    .left {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

    }

    .right {
        flex: 1;
        min-height: 50dvh;
        background-image: url("../../assets/aboutBanner.webp");
        background-size: cover;
        border-radius: 10px;
    }


}

.missionTeamStrength {
    display: flex;
    justify-content: space-between;



    div {
        padding: 2%;
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        h2 {
            display: flex;
            align-items: center;
            gap: 20px;

            svg {
                font-size: 2rem;
                color: red;
            }
        }
    }
}

.strengthSection {
    margin-top: 3%;

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 1%;

        span {
            color: red;
        }
    }

    .strengthContainer {
        display: flex;
        justify-content: space-around;
        gap: 10px;

        .strength {

            padding: 0% 2%;
            border-left: 10px solid red;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            h3 {
                padding-top: 2%;
            }
        }
    }
}