.mobileMenuOptions {
    position: absolute;
    display: none;
}

#MainMenu {
    display: flex;
    height: 10dvh;
    z-index: 10;
    padding: var(--containerMargin);
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(233, 229, 229);


    .logo {
        width: 15%;
        cursor: pointer;
        height: 100%;
        background-image: url("../../assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .links {
        display: flex;
        gap: 20px;

        a {
            text-transform: uppercase;
        }

        /* width: 40%; */
    }

    .icons {
        width: 10%;
        font-size: 2rem;
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
}