@media screen and (max-width: 990px) {
    #root {
        margin-top: 9rem;
    }

    .mob_bookhsrpBtn {
        border: 1px solid white;
        padding: 0.7rem 1rem;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
    }

    .fixed {
        position: fixed !important;
    }

    .menuRoot {
        position: absolute;
        z-index: 1000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .mobileMenuOptions {
        position: sticky;
        z-index: 1001;
        padding: 1rem 1rem;
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* right: 5%;
        top: 5%; */

        svg {
            color: white;
            font-size: 4rem;
        }

        .logo {
            width: 45%;
            cursor: pointer;
            height: 10dvh;
            background-image: url("../../assets/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .close {
        left: -100% !important;
    }

    .open {
        left: 0 !important;
        right: 0;
    }

    #MainMenu {
        /* display: none; */
        position: absolute;
        /* right: 0; */
        top: 0;
        z-index: 100;
        min-height: 100dvh;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary);
        color: white;
        font-size: 1.5rem;
        transition: 1s all;



        .icons {
            width: auto;
            margin-top: 5rem;
        }

        .logo {
            height: 10dvh;
            width: 100%;
            display: none;
        }

        .links {
            flex-direction: column;

        }
    }

}