section {
    padding: var(--containerMargin);
}

.banner {
    height: 77dvh;
    background-image: url("./../../assets/banner.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(179, 171, 171);
    background-blend-mode: multiply;
    display: flex;

    align-items: center;

    color: white;

    h1 {
        font-size: 300;
        width: 50%;
        font-size: 3rem;
    }

    .HSRPButtons {
        width: 50%;
        display: flex;
        font-size: 2rem;
        text-transform: uppercase;
        background-color: #fc830e;
        justify-content: center;
        margin-top: 3%;
        border-radius: 4px;

        text-wrap: nowrap;

        .knowHSRPBtn,
        .bookHSRPBtn {
            padding: 1% 5%;
            text-align: center;
            width: 100%;
            cursor: pointer;
            font-weight: 700;
        }

        .knowHSRPBtn {
            border-right: 1px solid white;
        }
    }


}

.about {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
    align-items: center;

    h1 {
        width: 25%;
        font-size: 3rem;
    }

    p {
        width: 70%;
    }
}

.gallery {
    h1 {
        font-size: 3rem;
        text-align: center;
        /* background-color: green */
    }

    p {
        text-align: center;
    }

    .galleryList {
        display: flex;
        gap: 20px;
        margin-top: 3%;
        flex-wrap: wrap;

        .galleryItem {
            min-height: 40dvh;
            width: 23%;
            border-radius: 10px;
            background-color: gray;
        }
    }
}

.faq {
    padding-top: 3%;
    padding-bottom: 3%;

    h4 {
        font-weight: 400;
    }

    h1 {
        font-size: 2rem;
    }

    .faqCards {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 1.5%;

        .faqCard {
            border: 1px solid #f3e1d5;
            width: 48%;
            padding: 2%;
            border-radius: 4px;

            .question {
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }

            .answer {
                font-size: 0.8rem;

                .textAnswer {
                    color: #ffa240;
                    padding: 1% 0%;
                }
            }
        }
    }
}